@import "tailwindcss";

@theme {
  --color-primary: #558DED;
  --color-secondary: #E1251B;
  --color-background: #ffffff;
  --color-foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
